  - name: include role ${role_name}
    include_role:
        name: ${role_name}
        apply:
          tags:
          - ${group_name}
    when: '"${group_name}" in group_names'
    tags:
    - always
